<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Destinations</title>
</head>
<body>
    <h1>여행 다이어리</h1>
    <table border="1">
        <thead>
            <tr>
                <th>여행지</th>
                <th>내용</th>
                <th>위치</th>
            </tr>
        </thead>


        <tbody>
            <tr th:each="destination : ${listDestinations}">
                <td th:text="${destination.name}">Destination Name</td>
                <td th:text="${destination.description}">Destination Description</td>
                <td th:text="${destination.location}">Destination Location</td>
            </tr>
        </tbody>
    </table>

    <h2>Reviews</h2>
<ul>
    <li th:each="review : ${destination.reviews}">
        <p th:text="${review.content}">Review Content</p>
        <p th:text="${review.rating}">Rating</p>
    </li>
</ul>

    <a href="/showNewDestinationForm">새 여행지 등록</a>
</body>
</html>
